#header{
  font-family: sans-serif;
  border-bottom: 2px;
}

#header-title{
  margin-left: 40%;
  margin-right: auto;
}

#header-smalltext{
  padding-left:42%;
  margin-left: auto;
  margin-right: auto;
}
